pandas
pyyaml
jinja2
datasets
transformers==4.26.0
#pytorch-lightning==1.5.1
pytorch-lightning==1.9.0
wandb
sentencepiece==0.1.94
rouge
wget
deepspeed
py7zr
faiss-cpu
scipy
accelerate
scikit-learn
openai
nltk
fairscale
protobuf==3.20.2
openai
prettytable
bert_score
evaluation
rouge_score
benepar
spacy
peft==0.2.0
deepspeed==0.9.5
tiktoken